<!DOCTYPE html>
<html>
<head>
	<title>VIEW PAGES</title>
</head>
<body>
	<h2>So basically 5 pages are ready</h2>
	<h1><p style="color: red;"> And please navigate to pages through index only, don't get overwhelmed and navigate pages through any other page </p></h1>
	<center>
		<a href="ecommerce-customers.html">Customers</a><br>
	<a href="ecommerce-order-history.html">Orders</a><br>
	<a href="ecommerce-product-list.html">Product list</a><br>
	<a href="ecommerce-product-grid.html">Product Grid</a><br>
	<a href="ecommerce-product-edit.html">Product edit</a>
	</center>
</body>
</html>